/*  arranger flow boxes with inset frames,
interaction possible avec le contenu via keyboard 

flowbox
├── flowboxchild
│   ╰── <child>
├── flowboxchild
│   ╰── <child>
┊
╰── [rubberband]


iconview.view
╰── [rubberband]
les bordures sont apliquer aux icons,mais pas a l'enssemble du cadre
*/


iconview {
	border-width: 0em;

	margin:  0.1em;
	padding: 0.1em; /* pour avoir une petite marge entre le contenu */

	background-color: @menu_color;
	box-shadow: inset 0em 0em 0.3em @idle_menu_color;
}

iconview:selected{
	background-color: @text_color;
}

/* 
────── Sub zones separators ───────────────────────────────────────────────────────────────────────────────────────────────────────────────────
*/

