/*  theme  windows

GtkWindow
╰── GtkDialog
    ╰── GtkMessageDialog

la class .background n'est pas assez documenter,
mais je suppose quelle signal la fenetre en arriere plan, parent de toutes les autres (lorsquil y en a plusieurs)
*/
window,
GladeWindow {
	background-color: @panel_color;
	background-image: radial-gradient( circle farthest-corner at top left, mix(@panel_light_color,@panel_color,0.9), mix(@panel_dark_color,@panel_color,0.9));
}

/* sous fenetre specialiser, en general plus petite */
dialog,
messagedialog,
printdialog,
assistant {
	background-color: @panel_color;
	background-image: radial-gradient( circle farthest-corner at top left, mix(@panel_light_color,@panel_color,0.95), mix(@panel_dark_color,@panel_color,0.95));
}


/* special windows (no effects?) */
window.popup {
	background-color: red;
}
window.tooltip {
	background-color: blue;
}
.window-frame, .window-frame:backdrop {
	margin: 3px;
	padding: 3px;
	border-width: 3px;
   border: solid;
   background-color: yellow;
	border-color: blue;
}

