/* choosers buttons (button combo)*/


button.lock, /* bouton qui deverouille ou verouille, note(ce n'est pas un toggle) */
button.color,
button.font,
button.file,
button.combo{  /* inclu les bouton a coter des entry */
	border-width: 0.4em;
	border-style: ridge;
	border-color: alpha(shade(@panel_color,0.7),0.7);
	background-color: @menu_color;
	box-shadow: inset 0em 0em 0.3em @idle_menu_color;
}



/* 
le bouton de lock contien un stack... 
cette bizarie oblige a contrer le setting de stack qui est fait dans frame.css */
button.lock stack {
	border-width:  0em;
	border-radius:  0em;

	box-shadow: none;
	background-color: @menu_color;
	padding: 0.2em;
}





/* Make arrows transparent as the arrows are currently imbedded to display dropdown box. */
combobox arrow{
   min-width: 0em;
   min-height: 0em;
}



/*
───────── sub  entries  ─────────────────────────────────────────────────────────────────────────────────────────────────────────
*/

list > row button.lock, popover button.lock, revealer button.lock,
list > row button.color, popover button.color, revealer button.color,
list > row button.font, popover button.font, revealer button.font,
list > row button.file, popover button.file, revealer button.file,
list > row button.combo, popover button.combo, revealer button.combo{
	margin: 0.3em;
	border-radius: 0em;
	border-width: 0.1em;
	border-style: solid;

	background-clip: border-box;

   background-color: @menu_color;
	border-color: @text_color;
	box-shadow: none ;
}
list > row button:disabled.lock, popover button:disabled.lock, revealer button:disabled.lock,
list > row button:disabled.color, popover button:disabled.color, revealer button:disabled.color,
list > row button:disabled.font, popover button:disabled.font, revealer button:disabled.font,
list > row button:disabled.file, popover button:disabled.file, revealer button:disabled.file,
list > row button:disabled.combo, popover button:disabled.combo, revealer button:disabled.combo{
	border-color: mix(@menu_color,@text_color,0.2);
}

